.place-grid__title{
    max-width: 288px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}

@media screen and (min-width:768px) and (max-width: 1023px) { 


    .place-grid__title{
        max-width: 338px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        padding-top: 0;
        padding-bottom: 48px;
        grid-area: title;
    }
 
}
@media screen and (min-width:1024px) and (max-width: 1279px) { 


    .place-grid__title{
        max-width: 440px;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        padding-top: 0;
        padding-bottom: 48px;
        grid-area: title;
    }
 

}
@media screen and (min-width:1280px) and (max-width: 100vw) { 


    .place-grid__title{
        max-width: 460px;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        padding-top: 0;
        padding-bottom: 48px;
        grid-area: title;
    }
 
}