.header__logo{
    max-width: 142px;
    transition: opacity .5s;
    }
.header__logo:hover{
    opacity: .8;
}
@media screen and (min-width: 320px) and (max-width: 767px) { 

    .header__logo{
        width: calc(142px + (0.0536 * (100vw - 320px)));
    }

}
@media screen and (min-width:768px) and (max-width: 100vw) { 

    .header__logo{
        max-width: 176px;
    }

}