.lead__image{
    width: 100%;
}
/* @media screen and (min-width: 320px) and (max-width: 767px) { 

    .lead__image{
        min-width: calc(320px + (1 * (100vw - 320px)));
    }

}
@media screen and (min-width:768px) and (max-width: 1023px) { 

    .lead__image{
        min-width: calc(768px + (0.625 * (100vw - 768px)));
    }

}
@media screen and (min-width:1024px) and (max-width: 1279px){

    .lead__image{
        min-width: calc(928px + (0.21875 * (100vw - 1024px)));
    }

}
@media screen and (min-width:1279px) and (max-width: 100vw) { 
    .lead__image{
        min-width: 984px;
    }
} */

