.intro{
    min-width: 288px;
    margin: 0 auto;
    padding-bottom: 64px;   
}   
@media screen and (min-width: 320px) and (max-width: 767px) { 

    .intro{
        
        width: calc(288px + (0.885 * (100vw - 320px)));
    }

}
@media screen and (min-width:768px) and (max-width: 1023px) { 

    .intro{
        align-self: flex-start;
        padding-bottom: 90px;
        width: 720px;
    }

}
@media screen and (min-width:1024px) and (max-width: 1279px) { 

    .intro{
        margin: 0;
        padding-left: calc(48px + (0.391 * (100vw - 1024px)));
        padding-bottom: 90px;
        width: 690px;
        align-self: flex-start;
    }

}
@media screen and (min-width:1280px) and (max-width: 100vw) { 

    .intro{
        margin: 0;
        padding-bottom: 90px;
        width: 690px;
        padding-left: calc(148px + (0.519 * (100vw - 1280px)));
    }

}