.cover__background{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../../../image/__background.png);
    background-size: cover;
    transition: opacity .5s;

}