.place-grid__item{
    display: flex;
    flex-direction: column;
    padding-bottom: 73px;
}
@media screen and (min-width:768px) and (max-width: 1023px) { 

    .place-grid__item{
        width: 720px;
        display: grid;
        grid-template-areas: 
        "title url"
        "img par"
        "img par";
    }
    
}
@media screen and (min-width:1024px) and (max-width: 1279px) { 

    .place-grid__item{
        width: 928px;
        display: grid;
        padding-bottom: 80px;
        grid-template-areas: 
        "title url"
        "img par"
        "img par";
    }

}
@media screen and (min-width:1280px) and (max-width: 100vw) { 

    .place-grid__item{
        width: 984px;
        display: grid;
        grid-template-areas: 
        "title url"
        "img par"
        "img par";
        grid-template-columns: repeat(2,1fr);
    }

}