.footer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 70px 16px 0 calc(16px + (0.01789 * (100vw - 320px)));
    padding-top: 70px;
} 
@media screen and (min-width:768px) and (max-width: 100vw) { 
    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 24px;
    }
    
}
@media screen and (min-width:768px) and (max-width: 1023px) { 
    .footer{
        margin: 0 auto;
        width: calc(720px + (0.8125 * (100vw - 768px)));
        padding-top: 88px;
    }
    
}
@media screen and (min-width:1024px) and (max-width: 1279px) { 
    .footer{
        margin: 0 auto;
        width: calc(928px + (1 * (100vw - 1024px)));
        padding-top: 92px;
    }
 

}
@media screen and (min-width:1280px) and (max-width: 100vw) { 
    .footer{
        margin: 0 auto;
        width: 1166px;
        padding-top: 92px;
    }

}